*{
    margin: 0;
    padding: 0;
}

body{
  background: #000;
  color: #666;
  text-align:center ;
}

audio{
  width: 450px;
  margin: 30px 0;
}

.container{
  height: 450px;
  overflow: hidden;
}

.lrc-list {
  transform: translateY(0);
  transition: all 0.6s;
}

.lrc-list li{
  height: 30px;
  line-height: 30px;
  list-style: none;
}

.lrc-list li.active{
  color: #fff;
  transform: scale(1.3);
}